body{
    background-image: linear-gradient(rgba(255, 0, 0, 0.13) , rgba(255, 255, 0, 0.056), rgba(0, 0, 255, 0.318));
     min-height:100vh; 
     display: flex;
     flex-wrap: wrap;
}

section{
    background-color: rgba(255, 255, 255, 0.13);
    width: 350px;
    height: 300px;
    margin: 200px auto 0 auto;
    position: relative;
    border-radius: 20px;
    transition: 2s;
    box-shadow: 0 5px 25px rgba(1 1 1/15);
    /* display: flex; */
    flex-wrap: wrap;
    
}

section:hover{
    height: 370px;
}

img{
    width: 250px;
    height: 230px;
    position: absolute;
    right: 50px;
    top: -40px;
    transition: 2s;
    /* border-radius: 50%; */
}
section:hover img{
    top: -70px;
    border-radius: 50%;

}

.container{
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: 2s;
    
}

section:hover .container{
    opacity: 1;
    
}
